
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/administrativo">
          <img style="border-radius: 10px;"src="https://www.mt.senac.br/phpThumb/phpThumb.php?src=fotos_bancoimagens/79.jpg&w=750&h=422&zc=1" alt="" width="30" height="30">
          senacSis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/administrativo">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>
      <div class="container">
        <h1>formulário de cadastro </h1>
        <form action="/salvarCliente" th:object="${cliente}" method="POST" >
            <div class="form-group">
            
            <div class="row">
            	<div class="col-md">
            	     <label >id:</label>
             		 <input th:field="*{id}" type="text" class="form-control"  placeholder="id">
            	</div>
            	
               <div class="col-md-2">
            			<label>PF ou PJ?</label>
            			
            			<select id="tipoPessoa" class="form-control" onclick="modificar()">
            			
            				<option value="pf">Pessoa Física</option>
            				<option value="pj">Pessoa Jurídica</option>
            				
            			</select>
            			
            			<script>
	            			function modificar(){
	            				var pessoa = document.getElementById("tipoPessoa").value;
	            	
	            			    if(pessoa === "pj"){
	            			    	 $("#cpf").mask("99.999.999/9999-99");
	            			    	 
	            			    } else {
	            			    	$("#cpf").mask("999.999.999-99");
	            			    	
	            			    }
	            				
	            			}
            			</script>
            			
            			
            		</div>
            	
            	<div class="col-md">
            	    <label >Nome:</label>
              		<input th:field="*{nome}" type="text" class="form-control"   placeholder="digite seu nome">
            	</div>
            	
            	<div class="col-md">
            	<label >Email:</label>
              	<input th:field="*{email}" type="text" class="form-control"   placeholder="digite seu email">
            	</div>
            	
            	
            </div>
            
            <div class="row">
            	<div class="col-md">
            	
            	 <label >Cpf:</label>
             	 <input th:field="*{cpf}" type="text" class="form-control"   placeholder="digite seu cpf">
            	</div>
            	
            	<div class="col-md">
            	<label >Telefone:</label>
             	 <input th:field="*{telefone}" type="text" class="form-control"   placeholder="digite seu telefone">
            	</div>
            	
            	<div class="col-md">
            	<label >Endereco:</label>
             	 <input th:field="*{endereco}" type="text" class="form-control"   placeholder="digite seu endereco">
            	</div>
            	
            </div>
            
            <div class="row">
            	<div class="col-md">
            	<label >Numero:</label>
              	<input th:field="*{numero}" type="text" class="form-control"   placeholder="digite seu numero">
            	</div>
            	
            	<div class="col-md">
            	<label >Bairro:</label>
             	 <input th:field="*{bairro}" type="text" class="form-control"   placeholder="digite seu bairro">
            	</div>
            	
  
            	<div class="col-md">
	               <label>Cidade</label>
	               <select th:field="*{cidade}" class="form-control">
	               		<option th:each="est :${listaCidades}" th:value="${est.id}" th:text="${est.nome}"></option>
	               		</select>
            	</div>
            </div>



            </div>
            
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> salvar</button>
            <a class="btn btn-danger" href="/administrativo"><i class="fa-solid fa-rotate-left"></i> voltar </a>
             <a class="btn btn-success" href="/listarCliente"><i class="fa-solid fa-list-check"></i> listar </a>
          </form>
          
          

      </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js" integrity="sha512-oJCa6FS2+zO3EitUSj+xeiEN9UTr+AjqlBZO58OPadb2RfqwxHpjTU8ckIC8F4nKvom7iru2s8Jwdo+Z8zm0Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
	jQuery(function($){
		$("#cpf").mask("999.999-999-99"),
		$("#telefone").mask("(99)99999-9999");
	});
</script>

</html>